@page "{id:int?}"
@model Boncu_Nicole_Beatrice_Proiect.Pages.Drinks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Drink[0].DrinkName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DrinkData.Drinks)
        {
           string selectedRow = "";
           if (item.ID == Model.DrinkID)
           {
               selectedRow = "table-success";
           }
           <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.DrinkName)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.DrinkData.Foods != null)
{
<h3>Choose a drink</h3>
<table class="table">

    @foreach (var item in Model.DrinkData.Drinks)
    {
        string selectedRow = "";
        if (item.ID == Model.DrinkID)
        {
            selectedRow = "table-success";
        }
        <tr class="@selectedRow">

            <td>
                @{
                    foreach (var b in item.Foods)
                    {

                        @b.Name

                        <br />
                    }
                }
            </td>
        </tr>
    }
</table>
}
